<h1>Esto es la pagina de inicio</h1>

<div id="make_recipes"></div>

<h5 class="mt-4">Ingredients:</h5>
    <% @ingredients.each do |item| %>
        <div>
            <input type="checkbox" class="item-checkbox" data-id="<%= item.id %>" onchange="findRecipes()">
            <%= item.name %>
        </div>
    <% end %>
</div>

<script src="assets/static_pages_find_recipes.js"></script>