<div class="container">
  <% if current_user && user_signed_in? %>
    <h1 class="text-center mb-5">Recetas favoritas</h1>

    <div class="row">
      <%= render partial: "recipe", collection: current_user.favorite_recipes %>
    </div>
  <% end %>

  <h1 class="text-center mb-5">Todas las recetas</h1>

  <div class="row">
    <%= render partial: "recipe", collection: @recipes %>
  </div>

  <div class="row">
    <div class="col">
      <%= link_to "BACK", root_path, class:"btn btn-secondary" %>
    </div>
    <div class="col"> 
      <%= link_to "NEW", new_recipe_path, class:"btn btn-success" %>
    </div>
  </div>
</div>
