<div class="container">
  <h1 class="text-center mb-5">Todas las recetas</h1>

  <div class="row">
    <%= render partial: "recipe", collection: @recipes %>
  </div>

  <div class="d-flex justify-content-between">
    <%= link_to "BACK", root_path, class:"btn btn-secondary" %>
    <%= link_to "NEW", new_recipe_path, class:"btn btn-success" %>
  </div>
</div>
