<div class="container">
  <h1 class="text-center mb-5">Este es el índice de ingredientes</h1>

  <div class="row">
    <%= render partial: "ingredient", collection: @ingredients %>
  </div>

  <div class="row">
    <div class="col"> 
      <%= link_to "NEW", new_ingredient_path, class:"btn btn-success" %>
    </div>
  </div>
</div>
