<div class="container">
  <h1 class="text-center mb-4"><%= @ingredient.name %></h1>
  
  <div class="d-flex justify-content-between">
    <%= link_to "BACK", :back, class:"btn btn-secondary" %>
    <%= link_to "EDIT", edit_ingredient_path(@ingredient) ,class:"btn btn-primary" %>
  </div>
</div>